body {
    background-color: rgb(238, 215, 197);
    font-family: monospace;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: monospace;
    cursor: pointer;
}
button:hover {
    background-color: darkred;
}
button:active {
    background-color: rgb(255, 49, 49);
}